h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 42px;
    color: white;
}

.Collection-component {
    min-height: 100vh;
    background-color: #0b090f;
    background-color: #0b090f;
    color: red;
}

.film-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    text-align: center;
    width: 350px;
    height: 250px;
    color: white;
    padding: 10px 10px;
    margin: 20px 10px;
    cursor: pointer;
    transition: transform 100ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 4px;
}

.card-img>img {
    object-fit: contain;
    width: 75%;
    height: 75%;
    border-radius: 4%;
    margin: 8px 0;
    transition: transform 100ms ease-in;
}

.card-img:hover>img {
    transform: scale(1.03);
    box-shadow: whitesmoke 0px 0px 0px 1px, whitesmoke 0px 0px 0px 1px inset;
}

.card-name {
    margin-left: 13px;
    color: white;
    opacity: 0.7;
    font-size: 22px;
}

.delete {
    width: 40px;
    height: 40px;
    background-color: inherit;
    border-radius: 100%;
    font-size: 30px;
}

.delete:hover {
    width: 45px;
    height: 45px;
    background-color: #46318d;
    border-radius: 100%;
}